doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      p
        a(href="http://localhost:9000/")  Home 
        | |
        a(href="http://localhost:9000/leonardo")  Leonardo 
        | |
        a(href="http://localhost:9000/donatello")  Donatello 
        | |
        a(href="http://localhost:9000/raphael")  Raphael 
        | |
        a(href="http://localhost:9000/michelangelo")  Michelangelo 
        | 
    block content
